@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font-family: 'Bebas Neue', cursive; */
body{
  margin: 0;
  background-color:rgb(29, 8, 81) ;
}

nav {
  background-color:rgb(221, 26, 133);
  font-family: Bebas Neue, cursive;
  text-align: center;
  /* padding: 15px */
  
}
nav a {
  padding: 10px 20px;
  display: inline-block;
  text-decoration:none;
  color:rgb(17, 17, 119);
}
nav a:hover, .active {
  background-color:aquamarine;
}

h1 {
  text-align:center;
  font-family: Bebas Neue, cursive;
  font-size: 80px;
  margin: 0;
  width: 100%;
}

.profile {
  display:flex;
  flex-direction: row;
  margin: 50px auto;
  max-width: 700px;
  width: 90%;
  justify-content: space-between;
  padding: 12px;
  border-radius: 9px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
  background-color:white;
}
.profile img{
  max-width: 300px;
}
.profile .artist-image{
  background-image: url("https://i1.sndcdn.com/avatars-zkg2HALZkQfw07cM-FgXPKA-t500x500.jpg");
  height: 300px;
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 9px;
}
@media screen and (max-width: 700px) {
  .profile { 
    flex-direction: column; 
    align-items: center;
  }
  .profile .artist-image{
    width: 100%;
    background-size: 100%;
    background-position: initial;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    background-color:red;
  }
}
.bio {
  width: 60%;
}
.bio p, .song-list p{
  text-align:center;
  font-family: Bebas Neue, cursive;
  font-size: 30px;
  color:blueviolet;
}

.song-list ul{
  font-family: Bebas Neue, cursive;
  
}
.song-list {
  width: 100%;
}
